html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.stopwatch_frame {
  width: 300px;
  height: 160px;
  border: 2px solid #b37700;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.time {
  font-size: 50px;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.btns {
  display: flex;
  gap: 10px;
}
.btn {
  margin-bottom: 20px;
  width: 60px;
  background-color: #8e5572;
  color: #f2f7f2;
  border: transparent;
}

.btn:active {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
